<template>
  <div class="container article-container">
    <div class="row">
      <div class="col-md-3">
        <Sidebar :categories="categories" :articles="articles" :activeArticleId="article.id" />
      </div>
      <div class="col-md-9">
        <h1 v-html="article.title.rendered" />
        <div class="article-content" v-html="article.content.rendered" />
      </div>
    </div>
  </div>
</template>

<script>
import Sidebar from '~/components/Sidebar'
import axios from '~/plugins/axios'

export default {
  async asyncData ({env, params}) {
    let categories = await axios.get(`/categories?taxonomy=kb-articles`)
    let articles = await axios.get(`/kb-articles?_embed=true&per_page=100`)
    let article = await axios.get(`/kb-articles?slug=${params.article}&per_page=1`)
    return {
      categories: categories.data,
      articles: articles.data,
      article: article.data[0]
    }
  },
  components: {
    Sidebar
  }
}
</script>

<style lang="scss">
@import '../../assets/scss/base/_variables';

.article-container {
  margin-top: 2rem;        
  @media (min-width: 768px) {
    margin-top: 5rem;      
  }    
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 3.5rem;
    margin-bottom: 1rem;
  }
  h3 {
    font-size: 17px;
    margin-top: 3rem;    
    color: $headings-color;
  }
  img {
    max-width: 100%;
    margin: 20px 0;
    height: auto;
  }
  .alert {
    padding: 20px 40px;
    background: #F9F9F9;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.145833);
    border-radius: 4px;
    &.alert-success {
      background: #F6FFF5;
    }
    h3 {
      margin-top: 0;
      margin-bottom: .5rem;
    }
    p {
      margin-bottom: 0;
    }
  }
}
</style>
