body {
    font-size: 15px;
    line-height: 24px;
    padding-bottom: 4rem;
}
p {
    margin-bottom: 1.5rem;
}
h1 {
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    @media (max-width: 768px) {
        font-size: 22px;
    }    
}
h2 {
    font-weight: 200;
    font-family: $font-family-sans-serif;
    line-height: 1.5;
    @media (max-width: 768px) {
        font-size: 18px;
    }    
}
h3 {
    font-weight: 400;
    color: $light-color;
    margin-bottom: 1rem;
}