/*
* Colors
*/
$primary: #F4226B;
$secondary: #2ac0e2;
$headings-color: #162745;
$link-color: #1785FB;
$body-color: #162945;
$light-color: #647083;

/*
 * Fonts
 */
$headings-font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-sans-serif:  'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-weight: 600;
$headings-line-height: 1.3;
$nav-font-family: 'Montserrat';
$nav-font-weight: 800;
$nav-link-padding-y: .5rem;
$nav-link-padding-x:  1rem;
$h1-font-size: 32px;
$h2-font-size: 20px;
$h3-font-size: 18px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 900px,
  xl: 960px
);

/**
 * Navigation
 */
$nav-link-padding-y: .8rem;
$nav-link-padding-x: 1.4rem;

/**
 * Forms
 */

$input-height-inner: 40px;
$input-height: 50px; 