<template>
  <div class="home">
    <div class="container">
      <ul class="nav sub-nav mb-5">
        <li class="nav-item">
          <a class="nav-link active" href="#">Documentation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Guides</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tutorials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Support</a>
        </li>
      </ul>
      <div class="row mb-5">
        <div class="col-md-10">
          <h1 class="mt-3">Documentation</h1>
          <h2>Learn all about the CARTO Engine. An Open Source tool that enables you to use several APIs to build advanced, dynamic geospatial datasets and scalable maps for your own applications.</h2>
          <ArticleSearch />
        </div>
      </div>
      <div class="row">
        <CategoryBlock v-if="category.name !== 'Uncategorized'" v-for="category in categories" :key="category.id" :category="category" :articles="parentArticles" class="col-md-4" />
      </div>
    </div>
  </div>
</template>

<script>
import axios from '~/plugins/axios'
import CategoryBlock from '../components/CategoryBlock'
import ArticleSearch from '../components/ArticleSearch'

export default {
  components: {
    CategoryBlock,
    ArticleSearch
  },
  head () {
      return {
          bodyAttrs: {
              class: 'home'
          }
      }
  },
  async asyncData ({env, params}) {
    let categories = await axios.get(`/categories?taxonomy=kb-articles`)
    let parentArticles = await axios.get(`/kb-articles?parent=0&_embed=true`)
    return {
      categories: categories.data,
      parentArticles: parentArticles.data,
    }
  }
}
</script>

<style lang="scss">
@import '../assets/scss/base/_variables';

.home {
  background: #f9f9f9;
}
.sub-nav {
  border-bottom: 1px solid #EEEEEE;
  li {
    width: 50%;
    text-align: center;
  }
  @media (min-width: 500px) {
    li {
      text-align: left;
      width: auto;
      &:first-child a {
        padding-left: 0 !important;
      }
    }
  }
  
  a {
    padding: 1.5rem 1.2rem !important;
    color: $headings-color;
    &.active {
      font-weight: bold;
    }
  }
}
</style>
