<template>
  <div>
    <Navbar />
    <nuxt/>
  </div>
</template>

<script>
import Navbar from '../components/Navbar'
export default {
  async asyncData ({env, params}) {
    let categories = await axios.get(`/kb-categories?_embed`)
    let articles = await axios.get(`/kb-articles?_embed`)
    store.commit('setCategories', categories)
    console.log('test')
    console.log(categories)
    store.commit('setArticles', article)
  },
  components: {
    Navbar    
  },
}
</script>

<style lang="scss">
@import "../assets/scss/app.scss";
</style>
