<template>
  <div>
    <div class="input-wrapper">
      <input v-model="query" type="text" placeholder="Search the docs" @keyup.prevent="searchArticles">
      <svg v-if="!isSearching" class="search-icon" width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1L8 8" transform="translate(12 12)" stroke="#DDDDDD" stroke-width="2" stroke-linecap="round"/>
        <path d="M12.9497 12.9497C10.2161 15.6834 5.78392 15.6834 3.05025 12.9497C0.316582 10.2161 0.316583 5.78392 3.05025 3.05025L2.34315 2.34315L3.05025 3.05025C5.78392 0.316583 10.2161 0.316582 12.9497 3.05025C15.6834 5.78392 15.6834 10.2161 12.9497 12.9497Z" stroke="#DDDDDD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <svg v-if="isSearching" class="search-icon circle-spin" height="30" width="30">
        <circle cx="15" cy="15" r="10" />
      </svg>
    </div>
    <ul class="search-results" v-if="foundArticles.length">
      <li v-for="article in foundArticles" :key="article.id">
        <nuxt-link :to="`/knowledge-base/${article.slug}`">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 20 20">
          <path d="M18.854 4.646c-0.759-0.76-2.486-1.646-4.854-1.646-2.052 0-3.623 0.667-4.5 1.339-0.877-0.672-2.448-1.339-4.5-1.339-2.367 0-4.094 0.887-4.854 1.646-0.094 0.094-0.146 0.221-0.146 0.354v11c0 0.202 0.122 0.385 0.309 0.462s0.402 0.035 0.545-0.108c0.503-0.503 1.942-1.354 4.146-1.354s3.644 0.851 4.146 1.354c0.195 0.195 0.512 0.195 0.707 0 0.503-0.503 1.942-1.354 4.146-1.354s3.644 0.851 4.146 1.354c0.096 0.096 0.223 0.146 0.354 0.146 0.064 0 0.129-0.012 0.191-0.038 0.187-0.077 0.309-0.26 0.309-0.462v-11c0-0.133-0.053-0.26-0.146-0.354zM1 15.004v-9.783c0.604-0.506 1.981-1.22 4-1.22s3.397 0.714 4 1.221v9.783c-0.918-0.542-2.292-1.004-4-1.004s-3.082 0.461-4 1.004zM18 15.004c-0.918-0.542-2.293-1.004-4-1.004s-3.082 0.462-4 1.004v-9.783c0.603-0.506 1.98-1.221 4-1.221s3.396 0.714 4 1.22v9.783z" fill="#000000"></path>
          </svg>
          {{ article.title.rendered }}
        </nuxt-link>
      </li>
    </ul>
  </div>
</template>

<script>
import axios from '~/plugins/axios'

export default {
  data () {
    return {
      query: null,
      isSearching: false,
      foundArticles: []
    }
  },
  methods: {
    searchArticles () {
      this.isSearching = true
      if (this.query.length) {
        axios.get(`/kb-articles?search=${this.query}`).then(function(articles){
          this.foundArticles = articles.data       
          this.isSearching = false        
        }.bind(this))
      } else {
        this.isSearching = false
        this.foundArticles = []
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../assets/scss/base/_variables';

.input-wrapper {
  display: inline-block;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 450px;
  max-width: 100%;
  .search-icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
}
input {
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  padding: 15px 50px 15px 20px;
  width: 100%;
  transition: .2s ease-in-out all;
  &:focus {
    border-color: rgb(195, 195, 203);
    outline: none;
  }
  &::placeholder {
    color: #B1B8C1;
  }
}
.search-results {
  background: white;
  border-radius: 4px;
  border: 1px solid #ddd;
  max-width: 600px;
  list-style: none;
  padding-left: 0;
  li {
    border-bottom: 1px solid #ddd;
  }
  a {
    padding: 20px 30px;
    display: block;
    color: $body-color;
    text-decoration: none;
    display: flex;
    align-items: center;
    svg {
      max-width: 20px;
      max-height: 30px;
      margin-right: 10px;
    }
    &:hover {
      background: #f9f9f9;
    }
  }
}

circle {
  fill: white;
  stroke: #ddd;
  stroke-width: 2;
  stroke-dasharray: 100;
  stroke-dashoffset: 1000;
  animation: rotate 8s linear infinite;
}

@keyframes rotate {
  to {
    stroke-dashoffset: 0;
  }
}
</style>

