<template>
  <div class="category-block mb-5">
    <h3 v-html="category.name" />
    <p v-html="category.description" />
    <nuxt-link v-if="firstParentArticle" :to="`/knowledge-base/${firstParentArticle.slug}`" class="parent-article">
      <img :src="firstParentArticle._embedded['wp:featuredmedia'][0].source_url" v-if="firstParentArticle._embedded"  />
      {{ firstParentArticle.title.rendered }}
      <div v-for="tag in firstParentArticle.tags" :key="tag.name" class="badge">API</div>
    </nuxt-link> 
  </div>
</template>

<script>
export default {
  props: {
    category: Object,
    articles: Array
  },
  computed: {
    firstParentArticle () {
      return this.articles.filter(article => article.categories.includes(this.category.id))[0]
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../assets/scss/base/_variables';

.category-block {
  color: #647083;
  .parent-article {
    background: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.145833);
    border-radius: 4px;
    color: $body-color;
    font-weight: bold;
    margin-top: 20px;
    display: block;
    padding: 17px 20px;
    align-items: center;
    display: flex;
    transition: all .2s ease-in-out;
    &:hover {
      text-decoration: none;
      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.165833);      
    }
    img {
      margin-right: 15px;
    }
  }
  .badge {
    display: inline-block;
    border-radius: 2px;
    font-size: 10px;
    padding: 2px 9px;
    color: white;
    margin-left: auto;
    background: #DDDDDD;
    line-height: 14px;
  }
}
</style>
