<template>
  <div :class="{'fixed': isFixed}">
    <div class="menu-toggler" @click="toggleMenu">Menu</div>
    <ul class="mb-5 menu" :class="{'open': isOpen}">
      <li><nuxt-link to="/">Home</nuxt-link></li>
      <li v-if="category.name !== 'Uncategorized'" v-for="category in normalizedCategories" :key="category.id">
        {{ category.name }}
        <ul v-if="category.articles">
          <li v-for="article in category.articles" :key="article.id">
            <img :src="article._embedded['wp:featuredmedia'][0].source_url" v-if="article._embedded" />            
            <nuxt-link :to="`/knowledge-base/${article.slug}`" v-html="article.title.rendered" />
            <ul v-if="article.articles && (activeArticleId == article.id || article.articles.map(c => c.id).includes(activeArticleId))">
              <li v-for="childArticle in article.articles" :key="childArticle.id">
                <nuxt-link :to="`/knowledge-base/${childArticle.slug}`" v-html="childArticle.title.rendered" />
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    categories: Array,
    articles: Array,
    activeArticleId: Number,
  },
  data () {
    return {
      normalizedCategories: [],
      originalDistanceTop: 0,
      isFixed: false,
      isOpen: false,
    }
  },
  mounted () {
    this.normalizeCategories()
    this.originalDistanceTop = this.$el.getBoundingClientRect().top + window.scrollY
    document.addEventListener("scroll", this.fixToScreen.bind(this));
  },
  destroyed () {
    document.removeEventListener("scroll", this.fixToScreen.bind(this));
  },
  methods: {
    fixToScreen () {
      if (window.scrollY > this.originalDistanceTop - 40) {
        this.isFixed = true
      } else {
        this.isFixed = false
      }
    },
    normalizeCategories () {
      var _this = this      
      this.categories.forEach((category, index, categories) => {
        category.articles = _this.articles.filter(article => article.categories.includes(category.id))
        if (category.articles.length) {
          category.articles.forEach((article, index, articles) => {
            articles[index].articles = _this.articles.filter(childArticle => childArticle.parent == article.id)
          })
        }
        _this.normalizedCategories.push(category)
      })
    },
    toggleMenu () {
      this.isOpen = !this.isOpen
    }
  }
}
</script>

<style lang="scss" scoped>
  .fixed {
    position: fixed;
    top: 40px;
    @media (max-width: 991px) {
      position: static;
    }    
  }
  ul {
    list-style: none;
    padding-left: 0;
    > li, a {
      color: #B1B8C1;
      font-size: 13px;
      font-weight: 100;
      margin-bottom: 1.6rem;
    }
    ul {
      margin-top: .8rem;
      a {
        color: #647083;
      }
      ul {
        padding-left: 22px;
        li {
          margin-bottom: 0rem;
        }
      }
    }
    .nuxt-link-exact-active {
      font-weight: bold;
      color: #162945;
    }
    img {
      max-width: 15px;
      max-height: 12px;
      margin: 0 10px 0 0;
      filter: grayscale(100%);
    }
  }
  .menu-toggler {
    display: none;
    background:#f7f7f7;
    font-weight: bold;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.145833);
    border-radius: 4px;
    padding:15px 30px;
    cursor: pointer;
    margin-bottom: 2rem;
  }
  @media(max-width: 767px) {
    .menu-toggler {
      display: block;
    }
    .menu {
      display: none;
      margin-bottom: 2rem;
      &.open {
        display: block;
      }
    }
  }
</style>

